.header {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 36px; 
    height: 36px; 
    margin-right: 10px;
}

.header {
    margin: 0; 
    padding: 0;
    color: white; 
    font-size: 13px;
    font-weight: 200; 
    line-height: 18px;
    letter-spacing: -0.075em;
}

